.img-banner{width: 100%;}
#Error{color:#FF0000; }
#Success{color: #669933;}
.icon-logo {background-image: url(../img/sistema/.png) !important;}
.icon-draw-poligon {background-image: url(../img/icon_draw-poligon.png) !important;}

.btnMap{
    position: absolute;
    right: 10px;
    z-index: 1;
    width: 31px;
    height: 31px;
    display: block;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    top: 210px;
    border: 1px;
    border-style: inset;
    border-radius: 4px;
}

.btnMap:hover{
    background-color: #E1E1E1;
}
/*
.marker {
    color: red;
    font-size: 150px;
}*/

.gridAuxDelete{
    color: red !important;
}

.gridAuxCheck{
    color: green !important;
}

.gridAux{
    border: 2px solid;
    margin: 3px;
}

.newRowGrid{
    background-color: #C8FBC2;
}

.deleteRowGrid{
    background-color: #FF9999;
}
.titulo{    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 9.5px; color: red; position: absolute; top: 25px; left: 212px;}
.subtitulo{
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 17.6px;
    position: relative;
    top: 0px;
    left: 50%;
    width: 36rem;
}

/*DISEÑO DEL MENU*/
.x-treelist-navigation .x-treelist-item-tool{
    cursor: pointer;
}

.x-treelist-row .x-treelist-item-text{
    cursor: pointer;
}

/*MENÚ LATERAL IZQUIERDO*/
.x-treelist-navigation .x-treelist-item-text{
    font-weight: normal;
    font-family: Helvetica;
    font-size: 14px;
    text-shadow: 0px 0 #074975, 0 0px #074975, 0px 0 #074975, 0 0px #074975;
}

.x-panel-bodyWrap{
    border-radius: 7px;
}

.x-btn-icon-el-default-toolbar-small{
    color: #F1F1F1 !important;
}

.x-btn-inner-default-toolbar-small{
    color: #F1F1F1 !important;
}

.x-btn-inner-default-toolbar-small:hover{
    color: black !important;
}

.x-box-inner .x-btn-button-default-small{
    background-color: #5ECAC2;
}
/*FIN MENÚ LATERAL IZQUIERDO*/

/*Estilo de Texto dentro de botones*/
.x-btn-inner-default-small{
    color: #F1F1F1 !important;
    font-weight: bold !important;
    font-family: Helvetica !important;
    font-size: 12px !important;
    margin: 5%;
}

.x-btn-icon-el-default-small{
    color: #F1F1F1 !important;
    margin: 4px;
}
.x-btn-default-small{
    padding: 0px !important;
    border-radius: 5px;
}
/*botones de item selector*/
.x-form-itemselector-add:before {
    content: '>';
}
.x-form-itemselector-remove:before {
    content: '<';
}

/*FIN Estilo de Texto dentro de botones*/

/*Estilo de texto en titulos de columnas GRIDS*/
.x-column-header-inner {
    background-color: #e5f5f0;
    color: black;
    font-weight: normal !important;
    font-family: Helvetica !important;
    font-size: 11px !important;
    text-align: center !important;
    color: rgba(0, 0, 0, 0.5) !important; 
    padding: 10px 0px 10px 0px !important;
}

.x-panel-body-light{
    border: 0px;
}
/*FIN Estilo de texto en titulos de columnas GRIDS*/

.x-grid .x-btn-default-toolbar-small{
    background-color: #5ECAC2 !important;
}

.x-btn-icon-el-default-toolbar-small{
    background-color: #5ECAC2;
}

/*estilos de placeholders*/
*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    background-color: #F2F3F4;
    font-style: italic !important;
    padding: 0px 5px 0px 5px;
}
/*FIN estilos de placeholders*/
/*estilos de inputs*/
.x-webkit .x-form-text {
    border: 0px !important;
    padding: 0px 3px 0px 3px !important;
    margin: 0px !important;
    font-weight: normal !important;
    font-family: Helvetica italic !important;
}

.x-form-trigger-wrap-default{
    border: 0px;
}

.x-form-text-default:empty{
    background-color: #F2F3F4 !important;
    background-image: none !important;
}

.x-form-text-wrap-default {
    border-color: #F2F3F4 !important;
}

.x-form-text-wrap-default.x-form-text-wrap-invalid {
    border-color: #c30 !important;
}

.x-form-item-label-text{
    font-weight: normal !important;
    font-family: Helvetica !important;
}

.x-grid-cell-inner {
    font-weight: normal !important;
    font-family: Helvetica !important;
}

/*FIN estilos de inputs*/

/*estilos de formularios en paneles*/
.panelFormulario{
    border: 0px;
}
.panelFormulario .x-panel-body-default {
    padding: 5px 15px 5px 15px;
    border: 0px;
}

.panelCrearEditarControladores > div{
    border-radius: 25px 25px 0px 0px;
    border: 0px;
}   

.panelCrearEditarControladores .x-panel-body-default{
    border: 0px;
}
/*FIN estilos de formularios en paneles*/

/*ESTILOS EN MODULO REPORTE PLAZA*/
.columnReportePlaza .x-form-text-field-body-default{
    width: 100%
}
/*FIN ESTILOS EN MODULO REPORTE PLAZA*/

/*ESTILOS EN GRIDS AUXILIARES*/
.gridAuxiliar{
    border: 2px solid;
    /*margin: 3px;*/
}
.gridAuxiliar .x-panel-body-default{
    padding: 0px;
}
/*FIN ESTILOS EN GRIDS AUXILIARES*/

.formLogin::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    background-color: white !important;
}


/*ESTILOS DE MENU DE NAVEGACION PARA MODULOS ANIDADOS*/
.x-treelist-navigation .x-treelist-row{
    background-color: white;
}

.x-treelist-item-floated li{
    padding-left: 25px !important;
    border-top: 0px!important;
    border-bottom: 0px!important;
    border-left: 0px!important;
    border-right: 1px!important;
    border-style: solid !important; 
    border-color: #E0E0E0 !important;
}

.x-treelist-item-expander {
    color: #074975 !important;
}

.x-treelist-row-over {
    background-color: #5ECAC2 !important;
}
/*FIN ESTILOS DE MENU DE NAVEGACION PARA MODULOS ANIDADOS*/


.x-panel-header-title {
    color: white;
}
/*ESTILOS PARA HEADER DE UN PANEL COLOR AZUL CLARO*/
.header-azul-panel .x-panel-header{padding-left:22px;background-color:#5ecac2;border-radius: 0px;height: 24px;}
.header-azul-panel .x-title-icon{position:relative}
.header-azul-panel .x-title-icon:before{position: absolute; height: 22px; width: 22px; top: -4px; left: -7px; border-radius: 15px; background-color: #5ecac2; line-height: 22px; color: white; text-align: center;}
.header-azul-panel .x-title-text{padding-left:8px;font-size: 16px;}.graph-analysis-right{border-left:1px solid #ddd}.graph-analysis-right .right-value{text-align:right}.dashboard-member-grid .x-fa,.user-grid .x-fa{height:20px;width:20px;background:#e9e9e9;line-height:20px;float:left;margin-right:10px}.dashboard-member-grid .x-fa:before,.user-grid .x-fa:before{display:block;line-height:20px;text-align:center}.dashboard-member-grid .x-fa.fa-close,.user-grid .x-fa.fa-close{background-color:#fc8999;color:#fff}.dashboard-member-grid .x-fa.fa-ban,.user-grid .x-fa.fa-ban{background-color:#ffc000;color:#fff}.dashboard-member-grid .x-fa.x-action-col-icon,.user-grid .x-fa.x-action-col-icon{font-size:13px !important}.overflow-ellipsis{overflow:hidden}.pie-legend-container{font-size:11px;text-overflow:ellipsis}.pie-legend-container .quick-graph-pie-legend{height:15px;width:15px}.pie-legend-container .x-autocontainer-innerCt{padding-left:10px;text-overflow:ellipsis;overflow:hidden;line-height:14px}.bottom-indent{margin-bottom:16px}.left-aligned-div{float:left}.right-aligned-div{float:right}.services-text{margin:0 0 10px 5px;height:86px;text-overflow:ellipsis;overflow:hidden}.services-legend{min-width:240px}.services-legend div{width:15px;height:15px;float:left;margin:1px 5px 0 0}.services-legend span{font-size:11px;width:33%;display:inline-block;text-overflow:ellipsis;overflow:hidden}.service-finance .x-progress-bar,.legend-finance{background-color:#ffc000}.service-research .x-progress-bar,.legend-research,.widget-progressbar .x-progress-bar{background-color:#6aa5db}.service-marketing .x-progress-bar,.legend-marketing{background-color:#ee929c}.force-notext-button,.force-notext-button .x-frame-mc{background-color:#56b750;border-color:#56b750 !important}.force-notext-button .x-btn-inner-default-toolbar-small,.force-notext-button .x-frame-mc .x-btn-inner-default-toolbar-small{color:#fff}.force-notext-button:hover,.force-notext-button .x-frame-mc:hover{background-color:transparent}.force-notext-button:hover .x-btn-inner-default-toolbar-small,.force-notext-button:hover .x-btn-inner-default-small,.force-notext-button .x-frame-mc:hover .x-btn-inner-default-toolbar-small,.force-notext-button .x-frame-mc:hover .x-btn-inner-default-small{color:#56b750}.force-notext-button:hover .x-btn-icon-el-default-small,.force-notext-button:hover .x-btn-icon-el-default-toolbar-small,.force-notext-button .x-frame-mc:hover .x-btn-icon-el-default-small,.force-notext-button .x-frame-mc:hover .x-btn-icon-el-default-toolbar-small{color:#56b750}.white-panel{background:#fff}.x-tool-wrench{font:16px/1 FontAwesome;background:none}.x-tool-wrench:before{content:"\f0ad"}.email-sender-img{-webkit-border-radius:64px;-moz-border-radius:64px;-ms-border-radius:64px;border-radius:64px;border:1px solid #eee}.single-mail-email-subject{line-height:1.7em}.single-mail-email-subject .user-name{font-size:16px}.single-mail-email-subject .user-info{font-size:22px;max-width:95%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.mail-body{font-size:14px;line-height:1.6em;padding-bottom:14px;border-bottom:1px solid #eee}.single-mail-top-toolbar{background-color:#fff;border-bottom:1px solid #eee !important}.single-mail-top-toolbar .x-btn-inner-default-toolbar-small{color:#404040}.single-mail-top-toolbar a:first-child{left:2px !important}.single-mail-attachment{border:1px solid #eee;border-left-width:0;border-right-width:0;margin-right:15px;width:100px;height:100px}.single-mail-action-button .email-compose-save-button,.single-mail-action-button .email-compose-save-button .x-frame-mc{background-color:#9da6a3;border-color:#9da6a3 !important}.single-mail-action-button .email-compose-save-button .x-btn-inner-default-toolbar-small,.single-mail-action-button .email-compose-save-button .x-frame-mc .x-btn-inner-default-toolbar-small{color:#fff}.single-mail-action-button .email-compose-save-button:hover,.single-mail-action-button .email-compose-save-button .x-frame-mc:hover{background-color:transparent}.single-mail-action-button .email-compose-save-button:hover .x-btn-inner-default-toolbar-small,.single-mail-action-button .email-compose-save-button:hover .x-btn-inner-default-small,.single-mail-action-button .email-compose-save-button .x-frame-mc:hover .x-btn-inner-default-toolbar-small,.single-mail-action-button .email-compose-save-button .x-frame-mc:hover .x-btn-inner-default-small{color:#9da6a3}.single-mail-action-button .email-compose-save-button:hover .x-btn-icon-el-default-small,.single-mail-action-button .email-compose-save-button:hover .x-btn-icon-el-default-toolbar-small,.single-mail-action-button .email-compose-save-button .x-frame-mc:hover .x-btn-icon-el-default-small,.single-mail-action-button .email-compose-save-button .x-frame-mc:hover .x-btn-icon-el-default-toolbar-small{color:#9da6a3}.single-mail-action-button .email-compose-send-button,.single-mail-action-button .email-compose-send-button .x-frame-mc{background-color:#56b750;border-color:#56b750 !important}.single-mail-action-button .email-compose-send-button .x-btn-inner-default-toolbar-small,.single-mail-action-button .email-compose-send-button .x-frame-mc .x-btn-inner-default-toolbar-small{color:#fff}.single-mail-action-button .email-compose-send-button:hover,.single-mail-action-button .email-compose-send-button .x-frame-mc:hover{background-color:transparent}.single-mail-action-button .email-compose-send-button:hover .x-btn-inner-default-toolbar-small,.single-mail-action-button .email-compose-send-button:hover .x-btn-inner-default-small,.single-mail-action-button .email-compose-send-button .x-frame-mc:hover .x-btn-inner-default-toolbar-small,.single-mail-action-button .email-compose-send-button .x-frame-mc:hover .x-btn-inner-default-small{color:#56b750}.single-mail-action-button .email-compose-send-button:hover .x-btn-icon-el-default-small,.single-mail-action-button .email-compose-send-button:hover .x-btn-icon-el-default-toolbar-small,.single-mail-action-button .email-compose-send-button .x-frame-mc:hover .x-btn-icon-el-default-small,.single-mail-action-button .email-compose-send-button .x-frame-mc:hover .x-btn-icon-el-default-toolbar-small{color:#56b750}.attachment-container{margin-top:16px}.menu-item-common,.navigation-email .x-menu-item.online-user .x-menu-item-link:after,.navigation-email .x-menu-item.offline-user .x-menu-item-link:after,.navigation-email .x-menu-item .x-menu-item-link:after{padding-right:20px;position:absolute;font-family:FontAwesome;right:0}.navigation-email{-webkit-box-shadow:0, 1px, 2px, 0, rgba(0, 0, 0, 0.2);-moz-box-shadow:0, 1px, 2px, 0, rgba(0, 0, 0, 0.2);-ms-box-shadow:0, 1px, 2px, 0, rgba(0, 0, 0, 0.2);box-shadow:0, 1px, 2px, 0, rgba(0, 0, 0, 0.2)}.navigation-email.x-menu-default{border-width:0}.navigation-email .x-menu-header{line-height:20px;background-color:#fff;padding:20px 15px;border-bottom:1px solid #ccc !important}.navigation-email .x-menu-header .x-title-icon-wrap{width:40px;padding-right:28px;text-align:left}.navigation-email .x-menu-header .x-title-text{font-size:16px}.navigation-email .x-menu-item-icon-default{padding-top:10px;padding-left:12px;font-size:16px;line-height:24px}.navigation-email .x-menu-item{line-height:50px}.navigation-email .x-menu-item .x-menu-item-text-default.x-menu-item-indent-no-separator{margin-left:56px}.navigation-email .x-menu-item.online-user .x-menu-item-text-default.x-menu-item-indent-no-separator{margin-left:18px}.navigation-email .x-menu-item.online-user .x-menu-item-link:after{color:#86c747;content:"\f111"}.navigation-email .x-menu-item.online-user.x-menu-item-active .x-menu-item-link:after{color:white}.navigation-email .x-menu-item.offline-user .x-menu-item-link:after{color:#9e9f9f;content:"\f111"}.navigation-email .x-menu-item.offline-user .x-menu-item-text-default.x-menu-item-indent-no-separator{margin-left:20px}.navigation-email .x-menu-item .x-menu-item-link:after{color:#858585;content:"\f105"}.email-main-wrap .x-menu-item-default.x-menu-item-active{background-color:#88bf4c}.email-main-wrap .x-menu-item-default.x-menu-item-active .fa,.email-main-wrap .x-menu-item-default.x-menu-item-active .x-menu-item-link:after,.email-main-wrap .x-menu-item-default.x-menu-item-active .x-menu-item.offline-user .x-menu-item-link:after{color:#fff}.email-inbox-panel .fa-heart:before{color:#facc6e}.email-inbox-panel .fa-heart-o:before{color:#b2b2b2}.email-inbox-panel .x-grid-body{border-width:1px}.email-inbox-panel .x-grid-cell-special{border-right-width:0}.wizards .x-panel{background:#fff}.wizardthree .wizardprogressbar{background-color:#9cc96b}.x-btn-wizard-blue-small{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;padding:7px 7px 7px 7px;border-width:0;border-style:solid;background-color:transparent}.x-btn-wizard-blue-small-mc{background-color:transparent}.x-nbr .x-btn-wizard-blue-small{padding:0 !important;border-width:0 !important;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;background-color:transparent !important;box-shadow:none !important}.x-btn-wizard-blue-small-frameInfo{font-family:th-0-0-0-0-0-0-0-0-7-7-7-7}.x-btn-wizard-blue-small-tl{background-position:0 0}.x-btn-wizard-blue-small-tr{background-position:right 0}.x-btn-wizard-blue-small-bl{background-position:0 0}.x-btn-wizard-blue-small-br{background-position:right 0}.x-btn-wizard-blue-small-ml{background-position:0 top}.x-btn-wizard-blue-small-mr{background-position:right top}.x-btn-wizard-blue-small-tc{background-position:0 0}.x-btn-wizard-blue-small-bc{background-position:0 0}.x-btn-wizard-blue-small-tr,.x-btn-wizard-blue-small-br,.x-btn-wizard-blue-small-mr{padding-right:0}.x-btn-wizard-blue-small-tl,.x-btn-wizard-blue-small-bl,.x-btn-wizard-blue-small-ml{padding-left:0}.x-btn-wizard-blue-small-tc{height:0}.x-btn-wizard-blue-small-bc{height:0}.x-btn-wizard-blue-small-mc{padding:7px 7px 7px 7px}.x-cmd-slicer.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, frame:0 0 0 0" !important}.x-btn-wizard-blue-small{border-color:#31ade5}.x-btn-button-wizard-blue-small{min-height:16px}.x-ie9m .x-btn-button-wizard-blue-small{min-height:auto;height:16px}.x-btn-inner-wizard-blue-small{font:500 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;color:#606060;padding:0 5px;max-width:100%}.x-btn-icon-right > .x-btn-inner-wizard-blue-small,.x-btn-icon-left > .x-btn-inner-wizard-blue-small{max-width:calc(100% - 16px)}.x-ie10p .x-btn-inner-wizard-blue-small{max-width:none}.x-btn-icon-el-wizard-blue-small{font-size:16px;height:16px;color:#919191;line-height:16px}.x-btn-icon-left > .x-btn-icon-el-wizard-blue-small,.x-btn-icon-right > .x-btn-icon-el-wizard-blue-small{width:16px}.x-btn-icon-top > .x-btn-icon-el-wizard-blue-small,.x-btn-icon-bottom > .x-btn-icon-el-wizard-blue-small{min-width:16px}.x-ie8 .x-btn-icon-el-wizard-blue-small.x-btn-glyph{color:#919191}.x-btn-text.x-btn-icon-left > .x-btn-icon-el-wizard-blue-small{margin-right:3px}.x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-blue-small{margin-left:3px}.x-btn-text.x-btn-icon-top > .x-btn-icon-el-wizard-blue-small{margin-bottom:8px}.x-btn-text.x-btn-icon-bottom > .x-btn-icon-el-wizard-blue-small{margin-top:8px}.x-btn-arrow-right > .x-btn-icon.x-btn-no-text.x-btn-button-wizard-blue-small{padding-right:5px}.x-btn-arrow-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-blue-small{margin-right:5px}.x-btn-arrow-bottom > .x-btn-button-wizard-blue-small,.x-btn-split-bottom > .x-btn-button-wizard-blue-small{padding-bottom:7px}.x-btn-wrap-wizard-blue-small.x-btn-arrow-right:after{width:18px;content:"\f0d7";font:16px/1 FontAwesome;color:#f0f0f0}.x-btn-wrap-wizard-blue-small.x-btn-arrow-bottom:after{height:12px;content:"\f0d7";font:16px/12px FontAwesome;color:#f0f0f0}.x-btn-wrap-wizard-blue-small.x-btn-split-right > .x-btn-button{padding-right:7px}.x-btn-wrap-wizard-blue-small.x-btn-split-right > .x-btn-button:after{border-right:1px solid #f0f0f0}.x-btn-wrap-wizard-blue-small.x-btn-split-right:after{width:20px;content:"\f0d7";font:16px/1 FontAwesome;color:#f0f0f0;padding-left:7px}.x-btn-wrap-wizard-blue-small.x-btn-split-bottom{margin-bottom:-7px}.x-btn-wrap-wizard-blue-small.x-btn-split-bottom > .x-btn-button:after{border-bottom:1px solid #f0f0f0}.x-btn-wrap-wizard-blue-small.x-btn-split-bottom:after{height:20px;content:"\f0d7";font:16px/20px FontAwesome;color:#f0f0f0}.x-btn-split-right > .x-btn-icon.x-btn-no-text.x-btn-button-wizard-blue-small{padding-right:5px}.x-btn-split-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-blue-small{margin-right:5px}.x-btn-focus.x-btn-wizard-blue-small{background-image:none;background-color:transparent;-webkit-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;-moz-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;-ms-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset}.x-btn-wizard-blue-small .x-btn-arrow-el{position:absolute;top:0;right:0;height:100%;width:27px;pointer-events:none}.x-btn-wizard-blue-small.x-arrow-focus .x-btn-arrow-el{border:1px solid #cbe5f1}.x-btn-over.x-btn-wizard-blue-small{border-color:#2d9fd2;background-image:none;background-color:transparent}.x-btn-focus.x-btn-over.x-btn-wizard-blue-small{-webkit-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;-moz-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;-ms-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset}.x-btn.x-btn-menu-active.x-btn-wizard-blue-small,.x-btn.x-btn-pressed.x-btn-wizard-blue-small{border-color:#2582ac;background-image:none;background-color:transparent}.x-btn.x-btn-menu-active.x-btn-wizard-blue-small .x-btn-inner,.x-btn.x-btn-pressed.x-btn-wizard-blue-small .x-btn-inner{color:#579ddb}.x-btn-focus.x-btn-menu-active.x-btn-wizard-blue-small,.x-btn-focus.x-btn-pressed.x-btn-wizard-blue-small{-webkit-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;-moz-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;-ms-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset}.x-btn.x-btn-disabled.x-btn-wizard-blue-small{background-image:none;background-color:transparent}.x-btn-focus .x-btn-wizard-blue-small-tl,.x-btn-focus .x-btn-wizard-blue-small-bl,.x-btn-focus .x-btn-wizard-blue-small-tr,.x-btn-focus .x-btn-wizard-blue-small-br,.x-btn-focus .x-btn-wizard-blue-small-tc,.x-btn-focus .x-btn-wizard-blue-small-bc{background-image:url(images/btn/btn-wizard-blue-small-focus-corners.gif)}.x-btn-focus .x-btn-wizard-blue-small-ml,.x-btn-focus .x-btn-wizard-blue-small-mr{background-image:url(images/btn/btn-wizard-blue-small-focus-sides.gif)}.x-btn-focus .x-btn-wizard-blue-small-mc{background-color:transparent}.x-btn-over .x-btn-wizard-blue-small-tl,.x-btn-over .x-btn-wizard-blue-small-bl,.x-btn-over .x-btn-wizard-blue-small-tr,.x-btn-over .x-btn-wizard-blue-small-br,.x-btn-over .x-btn-wizard-blue-small-tc,.x-btn-over .x-btn-wizard-blue-small-bc{background-image:url(images/btn/btn-wizard-blue-small-over-corners.gif)}.x-btn-over .x-btn-wizard-blue-small-ml,.x-btn-over .x-btn-wizard-blue-small-mr{background-image:url(images/btn/btn-wizard-blue-small-over-sides.gif)}.x-btn-over .x-btn-wizard-blue-small-mc{background-color:transparent}.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-tl,.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-bl,.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-tr,.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-br,.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-tc,.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-bc{background-image:url(images/btn/btn-wizard-blue-small-focus-over-corners.gif)}.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-ml,.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-mr{background-image:url(images/btn/btn-wizard-blue-small-focus-over-sides.gif)}.x-btn-focus.x-btn-over .x-btn-wizard-blue-small-mc{background-color:transparent}.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-tl,.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-bl,.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-tr,.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-br,.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-tc,.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-bc,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-tl,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-bl,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-tr,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-br,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-tc,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-bc{background-image:url(images/btn/btn-wizard-blue-small-pressed-corners.gif)}.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-ml,.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-mr,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-ml,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-mr{background-image:url(images/btn/btn-wizard-blue-small-pressed-sides.gif)}.x-btn.x-btn-menu-active .x-btn-wizard-blue-small-mc,.x-btn.x-btn-pressed .x-btn-wizard-blue-small-mc{background-color:transparent}.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-tl,.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-bl,.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-tr,.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-br,.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-tc,.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-bc,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-tl,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-bl,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-tr,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-br,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-tc,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-bc{background-image:url(images/btn/btn-wizard-blue-small-focus-pressed-corners.gif)}.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-ml,.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-mr,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-ml,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-mr{background-image:url(images/btn/btn-wizard-blue-small-focus-pressed-sides.gif)}.x-btn-focus.x-btn-menu-active .x-btn-wizard-blue-small-mc,.x-btn-focus.x-btn-pressed .x-btn-wizard-blue-small-mc{background-color:transparent}.x-btn.x-btn-disabled .x-btn-wizard-blue-small-tl,.x-btn.x-btn-disabled .x-btn-wizard-blue-small-bl,.x-btn.x-btn-disabled .x-btn-wizard-blue-small-tr,.x-btn.x-btn-disabled .x-btn-wizard-blue-small-br,.x-btn.x-btn-disabled .x-btn-wizard-blue-small-tc,.x-btn.x-btn-disabled .x-btn-wizard-blue-small-bc{background-image:url(images/btn/btn-wizard-blue-small-disabled-corners.gif)}.x-btn.x-btn-disabled .x-btn-wizard-blue-small-ml,.x-btn.x-btn-disabled .x-btn-wizard-blue-small-mr{background-image:url(images/btn/btn-wizard-blue-small-disabled-sides.gif)}.x-btn.x-btn-disabled .x-btn-wizard-blue-small-mc{background-color:transparent}.x-nbr .x-btn-wizard-blue-small{background-image:none}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-first{border-right-width:0 !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-first .x-btn-wizard-blue-small-mc{padding-right:7px !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-middle{border-right-width:0 !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-middle .x-btn-wizard-blue-small-mc{padding-right:7px !important;padding-left:7px !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-last .x-btn-wizard-blue-small-mc{padding-left:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-first{border-bottom-width:0 !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-first .x-btn-wizard-blue-small-mc{padding-bottom:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-middle{border-bottom-width:0 !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-middle .x-btn-wizard-blue-small-mc{padding-top:7px !important;padding-bottom:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-last .x-btn-wizard-blue-small-mc{padding-top:7px !important}.x-nbr .x-segmented-button-item.x-btn-wizard-blue-small:after{content:' ';border-style:solid;border-width:0;position:absolute}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small:after{top:0;right:0;bottom:0;left:0}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-first:after{left:0}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-blue-small.x-segmented-button-last:after{right:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small:after{top:0;right:0;bottom:0;left:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-first:after{top:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-blue-small.x-segmented-button-last:after{bottom:0}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-wizard-blue-small:after{border-width:1px;border-color:#cbe5f1}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-wizard-blue-small:after{border-width:1px;border-color:#cae2ed}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-menu-active.x-btn-wizard-blue-small:after,.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-wizard-blue-small:after{border-width:1px;border-color:#c8dce5}.x-cmd-slicer.x-btn-focus.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-blue-small-focus-corners.gif), sides:url(images/btn/btn-wizard-blue-small-focus-sides.gif)" !important}.x-cmd-slicer.x-btn-over.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-blue-small-over-corners.gif), sides:url(images/btn/btn-wizard-blue-small-over-sides.gif)" !important}.x-cmd-slicer.x-btn-focus.x-btn-over.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-blue-small-focus-over-corners.gif), sides:url(images/btn/btn-wizard-blue-small-focus-over-sides.gif)" !important}.x-cmd-slicer.x-btn-pressed.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-blue-small-pressed-corners.gif), sides:url(images/btn/btn-wizard-blue-small-pressed-sides.gif)" !important}.x-cmd-slicer.x-btn-focus.x-btn-pressed.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-blue-small-focus-pressed-corners.gif), sides:url(images/btn/btn-wizard-blue-small-focus-pressed-sides.gif)" !important}.x-cmd-slicer.x-btn-disabled.x-btn-wizard-blue-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-blue-small-disabled-corners.gif), sides:url(images/btn/btn-wizard-blue-small-disabled-sides.gif)" !important}.x-btn-wizard-soft-purple-small{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;padding:7px 7px 7px 7px;border-width:0;border-style:solid;background-color:transparent}.x-btn-wizard-soft-purple-small-mc{background-color:transparent}.x-nbr .x-btn-wizard-soft-purple-small{padding:0 !important;border-width:0 !important;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;background-color:transparent !important;box-shadow:none !important}.x-btn-wizard-soft-purple-small-frameInfo{font-family:th-0-0-0-0-0-0-0-0-7-7-7-7}.x-btn-wizard-soft-purple-small-tl{background-position:0 0}.x-btn-wizard-soft-purple-small-tr{background-position:right 0}.x-btn-wizard-soft-purple-small-bl{background-position:0 0}.x-btn-wizard-soft-purple-small-br{background-position:right 0}.x-btn-wizard-soft-purple-small-ml{background-position:0 top}.x-btn-wizard-soft-purple-small-mr{background-position:right top}.x-btn-wizard-soft-purple-small-tc{background-position:0 0}.x-btn-wizard-soft-purple-small-bc{background-position:0 0}.x-btn-wizard-soft-purple-small-tr,.x-btn-wizard-soft-purple-small-br,.x-btn-wizard-soft-purple-small-mr{padding-right:0}.x-btn-wizard-soft-purple-small-tl,.x-btn-wizard-soft-purple-small-bl,.x-btn-wizard-soft-purple-small-ml{padding-left:0}.x-btn-wizard-soft-purple-small-tc{height:0}.x-btn-wizard-soft-purple-small-bc{height:0}.x-btn-wizard-soft-purple-small-mc{padding:7px 7px 7px 7px}.x-cmd-slicer.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, frame:0 0 0 0" !important}.x-btn-wizard-soft-purple-small{border-color:#31ade5}.x-btn-button-wizard-soft-purple-small{min-height:16px}.x-ie9m .x-btn-button-wizard-soft-purple-small{min-height:auto;height:16px}.x-btn-inner-wizard-soft-purple-small{font:500 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;color:#606060;padding:0 5px;max-width:100%}.x-btn-icon-right > .x-btn-inner-wizard-soft-purple-small,.x-btn-icon-left > .x-btn-inner-wizard-soft-purple-small{max-width:calc(100% - 16px)}.x-ie10p .x-btn-inner-wizard-soft-purple-small{max-width:none}.x-btn-icon-el-wizard-soft-purple-small{font-size:16px;height:16px;color:#919191;line-height:16px}.x-btn-icon-left > .x-btn-icon-el-wizard-soft-purple-small,.x-btn-icon-right > .x-btn-icon-el-wizard-soft-purple-small{width:16px}.x-btn-icon-top > .x-btn-icon-el-wizard-soft-purple-small,.x-btn-icon-bottom > .x-btn-icon-el-wizard-soft-purple-small{min-width:16px}.x-ie8 .x-btn-icon-el-wizard-soft-purple-small.x-btn-glyph{color:#919191}.x-btn-text.x-btn-icon-left > .x-btn-icon-el-wizard-soft-purple-small{margin-right:3px}.x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-soft-purple-small{margin-left:3px}.x-btn-text.x-btn-icon-top > .x-btn-icon-el-wizard-soft-purple-small{margin-bottom:8px}.x-btn-text.x-btn-icon-bottom > .x-btn-icon-el-wizard-soft-purple-small{margin-top:8px}.x-btn-arrow-right > .x-btn-icon.x-btn-no-text.x-btn-button-wizard-soft-purple-small{padding-right:5px}.x-btn-arrow-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-soft-purple-small{margin-right:5px}.x-btn-arrow-bottom > .x-btn-button-wizard-soft-purple-small,.x-btn-split-bottom > .x-btn-button-wizard-soft-purple-small{padding-bottom:7px}.x-btn-wrap-wizard-soft-purple-small.x-btn-arrow-right:after{width:18px;content:"\f0d7";font:16px/1 FontAwesome;color:#f0f0f0}.x-btn-wrap-wizard-soft-purple-small.x-btn-arrow-bottom:after{height:12px;content:"\f0d7";font:16px/12px FontAwesome;color:#f0f0f0}.x-btn-wrap-wizard-soft-purple-small.x-btn-split-right > .x-btn-button{padding-right:7px}.x-btn-wrap-wizard-soft-purple-small.x-btn-split-right > .x-btn-button:after{border-right:1px solid #f0f0f0}.x-btn-wrap-wizard-soft-purple-small.x-btn-split-right:after{width:20px;content:"\f0d7";font:16px/1 FontAwesome;color:#f0f0f0;padding-left:7px}.x-btn-wrap-wizard-soft-purple-small.x-btn-split-bottom{margin-bottom:-7px}.x-btn-wrap-wizard-soft-purple-small.x-btn-split-bottom > .x-btn-button:after{border-bottom:1px solid #f0f0f0}.x-btn-wrap-wizard-soft-purple-small.x-btn-split-bottom:after{height:20px;content:"\f0d7";font:16px/20px FontAwesome;color:#f0f0f0}.x-btn-split-right > .x-btn-icon.x-btn-no-text.x-btn-button-wizard-soft-purple-small{padding-right:5px}.x-btn-split-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-soft-purple-small{margin-right:5px}.x-btn-focus.x-btn-wizard-soft-purple-small{background-image:none;background-color:transparent;-webkit-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;-moz-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;-ms-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset}.x-btn-wizard-soft-purple-small .x-btn-arrow-el{position:absolute;top:0;right:0;height:100%;width:27px;pointer-events:none}.x-btn-wizard-soft-purple-small.x-arrow-focus .x-btn-arrow-el{border:1px solid #cbe5f1}.x-btn-over.x-btn-wizard-soft-purple-small{border-color:#2d9fd2;background-image:none;background-color:transparent}.x-btn-focus.x-btn-over.x-btn-wizard-soft-purple-small{-webkit-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;-moz-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;-ms-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset}.x-btn.x-btn-menu-active.x-btn-wizard-soft-purple-small,.x-btn.x-btn-pressed.x-btn-wizard-soft-purple-small{border-color:#2582ac;background-image:none;background-color:#925e8b}.x-btn.x-btn-menu-active.x-btn-wizard-soft-purple-small .x-btn-inner,.x-btn.x-btn-pressed.x-btn-wizard-soft-purple-small .x-btn-inner{color:#fff}.x-btn-focus.x-btn-menu-active.x-btn-wizard-soft-purple-small,.x-btn-focus.x-btn-pressed.x-btn-wizard-soft-purple-small{-webkit-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;-moz-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;-ms-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset}.x-btn.x-btn-disabled.x-btn-wizard-soft-purple-small{background-image:none;background-color:transparent}.x-btn-focus .x-btn-wizard-soft-purple-small-tl,.x-btn-focus .x-btn-wizard-soft-purple-small-bl,.x-btn-focus .x-btn-wizard-soft-purple-small-tr,.x-btn-focus .x-btn-wizard-soft-purple-small-br,.x-btn-focus .x-btn-wizard-soft-purple-small-tc,.x-btn-focus .x-btn-wizard-soft-purple-small-bc{background-image:url(images/btn/btn-wizard-soft-purple-small-focus-corners.gif)}.x-btn-focus .x-btn-wizard-soft-purple-small-ml,.x-btn-focus .x-btn-wizard-soft-purple-small-mr{background-image:url(images/btn/btn-wizard-soft-purple-small-focus-sides.gif)}.x-btn-focus .x-btn-wizard-soft-purple-small-mc{background-color:transparent}.x-btn-over .x-btn-wizard-soft-purple-small-tl,.x-btn-over .x-btn-wizard-soft-purple-small-bl,.x-btn-over .x-btn-wizard-soft-purple-small-tr,.x-btn-over .x-btn-wizard-soft-purple-small-br,.x-btn-over .x-btn-wizard-soft-purple-small-tc,.x-btn-over .x-btn-wizard-soft-purple-small-bc{background-image:url(images/btn/btn-wizard-soft-purple-small-over-corners.gif)}.x-btn-over .x-btn-wizard-soft-purple-small-ml,.x-btn-over .x-btn-wizard-soft-purple-small-mr{background-image:url(images/btn/btn-wizard-soft-purple-small-over-sides.gif)}.x-btn-over .x-btn-wizard-soft-purple-small-mc{background-color:transparent}.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-tl,.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-bl,.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-tr,.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-br,.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-tc,.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-bc{background-image:url(images/btn/btn-wizard-soft-purple-small-focus-over-corners.gif)}.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-ml,.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-mr{background-image:url(images/btn/btn-wizard-soft-purple-small-focus-over-sides.gif)}.x-btn-focus.x-btn-over .x-btn-wizard-soft-purple-small-mc{background-color:transparent}.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-tl,.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-bl,.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-tr,.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-br,.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-tc,.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-bc,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-tl,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-bl,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-tr,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-br,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-tc,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-bc{background-image:url(images/btn/btn-wizard-soft-purple-small-pressed-corners.gif)}.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-ml,.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-mr,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-ml,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-mr{background-image:url(images/btn/btn-wizard-soft-purple-small-pressed-sides.gif)}.x-btn.x-btn-menu-active .x-btn-wizard-soft-purple-small-mc,.x-btn.x-btn-pressed .x-btn-wizard-soft-purple-small-mc{background-color:#925e8b}.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-tl,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-bl,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-tr,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-br,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-tc,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-bc,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-tl,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-bl,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-tr,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-br,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-tc,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-bc{background-image:url(images/btn/btn-wizard-soft-purple-small-focus-pressed-corners.gif)}.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-ml,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-mr,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-ml,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-mr{background-image:url(images/btn/btn-wizard-soft-purple-small-focus-pressed-sides.gif)}.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-purple-small-mc,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-purple-small-mc{background-color:#925e8b}.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-tl,.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-bl,.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-tr,.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-br,.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-tc,.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-bc{background-image:url(images/btn/btn-wizard-soft-purple-small-disabled-corners.gif)}.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-ml,.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-mr{background-image:url(images/btn/btn-wizard-soft-purple-small-disabled-sides.gif)}.x-btn.x-btn-disabled .x-btn-wizard-soft-purple-small-mc{background-color:transparent}.x-nbr .x-btn-wizard-soft-purple-small{background-image:none}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-first{border-right-width:0 !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-first .x-btn-wizard-soft-purple-small-mc{padding-right:7px !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-middle{border-right-width:0 !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-middle .x-btn-wizard-soft-purple-small-mc{padding-right:7px !important;padding-left:7px !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-last .x-btn-wizard-soft-purple-small-mc{padding-left:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-first{border-bottom-width:0 !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-first .x-btn-wizard-soft-purple-small-mc{padding-bottom:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-middle{border-bottom-width:0 !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-middle .x-btn-wizard-soft-purple-small-mc{padding-top:7px !important;padding-bottom:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-last .x-btn-wizard-soft-purple-small-mc{padding-top:7px !important}.x-nbr .x-segmented-button-item.x-btn-wizard-soft-purple-small:after{content:' ';border-style:solid;border-width:0;position:absolute}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small:after{top:0;right:0;bottom:0;left:0}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-first:after{left:0}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-purple-small.x-segmented-button-last:after{right:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small:after{top:0;right:0;bottom:0;left:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-first:after{top:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-purple-small.x-segmented-button-last:after{bottom:0}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-wizard-soft-purple-small:after{border-width:1px;border-color:#cbe5f1}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-wizard-soft-purple-small:after{border-width:1px;border-color:#cae2ed}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-menu-active.x-btn-wizard-soft-purple-small:after,.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-wizard-soft-purple-small:after{border-width:1px;border-color:#c8dce5}.x-cmd-slicer.x-btn-focus.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-purple-small-focus-corners.gif), sides:url(images/btn/btn-wizard-soft-purple-small-focus-sides.gif)" !important}.x-cmd-slicer.x-btn-over.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-purple-small-over-corners.gif), sides:url(images/btn/btn-wizard-soft-purple-small-over-sides.gif)" !important}.x-cmd-slicer.x-btn-focus.x-btn-over.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-purple-small-focus-over-corners.gif), sides:url(images/btn/btn-wizard-soft-purple-small-focus-over-sides.gif)" !important}.x-cmd-slicer.x-btn-pressed.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-purple-small-pressed-corners.gif), sides:url(images/btn/btn-wizard-soft-purple-small-pressed-sides.gif)" !important}.x-cmd-slicer.x-btn-focus.x-btn-pressed.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-purple-small-focus-pressed-corners.gif), sides:url(images/btn/btn-wizard-soft-purple-small-focus-pressed-sides.gif)" !important}.x-cmd-slicer.x-btn-disabled.x-btn-wizard-soft-purple-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-purple-small-disabled-corners.gif), sides:url(images/btn/btn-wizard-soft-purple-small-disabled-sides.gif)" !important}.x-btn-wizard-soft-green-small{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;padding:7px 7px 7px 7px;border-width:0;border-style:solid;background-color:transparent}.x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-nbr .x-btn-wizard-soft-green-small{padding:0 !important;border-width:0 !important;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;background-color:transparent !important;box-shadow:none !important}.x-btn-wizard-soft-green-small-frameInfo{font-family:th-0-0-0-0-0-0-0-0-7-7-7-7}.x-btn-wizard-soft-green-small-tl{background-position:0 0}.x-btn-wizard-soft-green-small-tr{background-position:right 0}.x-btn-wizard-soft-green-small-bl{background-position:0 0}.x-btn-wizard-soft-green-small-br{background-position:right 0}.x-btn-wizard-soft-green-small-ml{background-position:0 top}.x-btn-wizard-soft-green-small-mr{background-position:right top}.x-btn-wizard-soft-green-small-tc{background-position:0 0}.x-btn-wizard-soft-green-small-bc{background-position:0 0}.x-btn-wizard-soft-green-small-tr,.x-btn-wizard-soft-green-small-br,.x-btn-wizard-soft-green-small-mr{padding-right:0}.x-btn-wizard-soft-green-small-tl,.x-btn-wizard-soft-green-small-bl,.x-btn-wizard-soft-green-small-ml{padding-left:0}.x-btn-wizard-soft-green-small-tc{height:0}.x-btn-wizard-soft-green-small-bc{height:0}.x-btn-wizard-soft-green-small-mc{padding:7px 7px 7px 7px}.x-cmd-slicer.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, frame:0 0 0 0" !important}.x-btn-wizard-soft-green-small{border-color:#31ade5}.x-btn-button-wizard-soft-green-small{min-height:16px}.x-ie9m .x-btn-button-wizard-soft-green-small{min-height:auto;height:16px}.x-btn-inner-wizard-soft-green-small{font:500 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;color:#fff;padding:0 5px;max-width:100%}.x-btn-icon-right > .x-btn-inner-wizard-soft-green-small,.x-btn-icon-left > .x-btn-inner-wizard-soft-green-small{max-width:calc(100% - 16px)}.x-ie10p .x-btn-inner-wizard-soft-green-small{max-width:none}.x-btn-icon-el-wizard-soft-green-small{font-size:16px;height:16px;color:#fff;line-height:16px}.x-btn-icon-left > .x-btn-icon-el-wizard-soft-green-small,.x-btn-icon-right > .x-btn-icon-el-wizard-soft-green-small{width:16px}.x-btn-icon-top > .x-btn-icon-el-wizard-soft-green-small,.x-btn-icon-bottom > .x-btn-icon-el-wizard-soft-green-small{min-width:16px}.x-ie8 .x-btn-icon-el-wizard-soft-green-small.x-btn-glyph{color:#fff}.x-btn-text.x-btn-icon-left > .x-btn-icon-el-wizard-soft-green-small{margin-right:3px}.x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-soft-green-small{margin-left:3px}.x-btn-text.x-btn-icon-top > .x-btn-icon-el-wizard-soft-green-small{margin-bottom:8px}.x-btn-text.x-btn-icon-bottom > .x-btn-icon-el-wizard-soft-green-small{margin-top:8px}.x-btn-arrow-right > .x-btn-icon.x-btn-no-text.x-btn-button-wizard-soft-green-small{padding-right:5px}.x-btn-arrow-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-soft-green-small{margin-right:5px}.x-btn-arrow-bottom > .x-btn-button-wizard-soft-green-small,.x-btn-split-bottom > .x-btn-button-wizard-soft-green-small{padding-bottom:7px}.x-btn-wrap-wizard-soft-green-small.x-btn-arrow-right:after{width:18px;content:"\f0d7";font:16px/1 FontAwesome;color:#f0f0f0}.x-btn-wrap-wizard-soft-green-small.x-btn-arrow-bottom:after{height:12px;content:"\f0d7";font:16px/12px FontAwesome;color:#f0f0f0}.x-btn-wrap-wizard-soft-green-small.x-btn-split-right > .x-btn-button{padding-right:7px}.x-btn-wrap-wizard-soft-green-small.x-btn-split-right > .x-btn-button:after{border-right:1px solid #f0f0f0}.x-btn-wrap-wizard-soft-green-small.x-btn-split-right:after{width:20px;content:"\f0d7";font:16px/1 FontAwesome;color:#f0f0f0;padding-left:7px}.x-btn-wrap-wizard-soft-green-small.x-btn-split-bottom{margin-bottom:-7px}.x-btn-wrap-wizard-soft-green-small.x-btn-split-bottom > .x-btn-button:after{border-bottom:1px solid #f0f0f0}.x-btn-wrap-wizard-soft-green-small.x-btn-split-bottom:after{height:20px;content:"\f0d7";font:16px/20px FontAwesome;color:#f0f0f0}.x-btn-split-right > .x-btn-icon.x-btn-no-text.x-btn-button-wizard-soft-green-small{padding-right:5px}.x-btn-split-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-wizard-soft-green-small{margin-right:5px}.x-btn-focus.x-btn-wizard-soft-green-small{background-image:none;background-color:transparent;-webkit-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;-moz-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;-ms-box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset;box-shadow:#cbe5f1 0 1px 0px 0 inset, #cbe5f1 0 -1px 0px 0 inset, #cbe5f1 -1px 0 0px 0 inset, #cbe5f1 1px 0 0px 0 inset}.x-btn-wizard-soft-green-small .x-btn-arrow-el{position:absolute;top:0;right:0;height:100%;width:27px;pointer-events:none}.x-btn-wizard-soft-green-small.x-arrow-focus .x-btn-arrow-el{border:1px solid #cbe5f1}.x-btn-over.x-btn-wizard-soft-green-small{border-color:#2d9fd2;background-image:none;background-color:transparent}.x-btn-focus.x-btn-over.x-btn-wizard-soft-green-small{-webkit-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;-moz-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;-ms-box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset;box-shadow:#cae2ed 0 1px 0px 0 inset, #cae2ed 0 -1px 0px 0 inset, #cae2ed -1px 0 0px 0 inset, #cae2ed 1px 0 0px 0 inset}.x-btn.x-btn-menu-active.x-btn-wizard-soft-green-small,.x-btn.x-btn-pressed.x-btn-wizard-soft-green-small{border-color:#2582ac;background-image:none;background-color:transparent}.x-btn.x-btn-menu-active.x-btn-wizard-soft-green-small .x-btn-inner,.x-btn.x-btn-pressed.x-btn-wizard-soft-green-small .x-btn-inner{color:#404040}.x-btn-focus.x-btn-menu-active.x-btn-wizard-soft-green-small,.x-btn-focus.x-btn-pressed.x-btn-wizard-soft-green-small{-webkit-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;-moz-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;-ms-box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset;box-shadow:#c8dce5 0 1px 0px 0 inset, #c8dce5 0 -1px 0px 0 inset, #c8dce5 -1px 0 0px 0 inset, #c8dce5 1px 0 0px 0 inset}.x-btn.x-btn-disabled.x-btn-wizard-soft-green-small{background-image:none;background-color:transparent}.x-btn-focus .x-btn-wizard-soft-green-small-tl,.x-btn-focus .x-btn-wizard-soft-green-small-bl,.x-btn-focus .x-btn-wizard-soft-green-small-tr,.x-btn-focus .x-btn-wizard-soft-green-small-br,.x-btn-focus .x-btn-wizard-soft-green-small-tc,.x-btn-focus .x-btn-wizard-soft-green-small-bc{background-image:url(images/btn/btn-wizard-soft-green-small-focus-corners.gif)}.x-btn-focus .x-btn-wizard-soft-green-small-ml,.x-btn-focus .x-btn-wizard-soft-green-small-mr{background-image:url(images/btn/btn-wizard-soft-green-small-focus-sides.gif)}.x-btn-focus .x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-btn-over .x-btn-wizard-soft-green-small-tl,.x-btn-over .x-btn-wizard-soft-green-small-bl,.x-btn-over .x-btn-wizard-soft-green-small-tr,.x-btn-over .x-btn-wizard-soft-green-small-br,.x-btn-over .x-btn-wizard-soft-green-small-tc,.x-btn-over .x-btn-wizard-soft-green-small-bc{background-image:url(images/btn/btn-wizard-soft-green-small-over-corners.gif)}.x-btn-over .x-btn-wizard-soft-green-small-ml,.x-btn-over .x-btn-wizard-soft-green-small-mr{background-image:url(images/btn/btn-wizard-soft-green-small-over-sides.gif)}.x-btn-over .x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-tl,.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-bl,.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-tr,.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-br,.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-tc,.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-bc{background-image:url(images/btn/btn-wizard-soft-green-small-focus-over-corners.gif)}.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-ml,.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-mr{background-image:url(images/btn/btn-wizard-soft-green-small-focus-over-sides.gif)}.x-btn-focus.x-btn-over .x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-tl,.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-bl,.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-tr,.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-br,.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-tc,.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-bc,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-tl,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-bl,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-tr,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-br,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-tc,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-bc{background-image:url(images/btn/btn-wizard-soft-green-small-pressed-corners.gif)}.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-ml,.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-mr,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-ml,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-mr{background-image:url(images/btn/btn-wizard-soft-green-small-pressed-sides.gif)}.x-btn.x-btn-menu-active .x-btn-wizard-soft-green-small-mc,.x-btn.x-btn-pressed .x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-tl,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-bl,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-tr,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-br,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-tc,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-bc,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-tl,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-bl,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-tr,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-br,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-tc,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-bc{background-image:url(images/btn/btn-wizard-soft-green-small-focus-pressed-corners.gif)}.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-ml,.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-mr,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-ml,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-mr{background-image:url(images/btn/btn-wizard-soft-green-small-focus-pressed-sides.gif)}.x-btn-focus.x-btn-menu-active .x-btn-wizard-soft-green-small-mc,.x-btn-focus.x-btn-pressed .x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-tl,.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-bl,.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-tr,.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-br,.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-tc,.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-bc{background-image:url(images/btn/btn-wizard-soft-green-small-disabled-corners.gif)}.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-ml,.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-mr{background-image:url(images/btn/btn-wizard-soft-green-small-disabled-sides.gif)}.x-btn.x-btn-disabled .x-btn-wizard-soft-green-small-mc{background-color:transparent}.x-nbr .x-btn-wizard-soft-green-small{background-image:none}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-first{border-right-width:0 !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-first .x-btn-wizard-soft-green-small-mc{padding-right:7px !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-middle{border-right-width:0 !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-middle .x-btn-wizard-soft-green-small-mc{padding-right:7px !important;padding-left:7px !important}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-last .x-btn-wizard-soft-green-small-mc{padding-left:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-first{border-bottom-width:0 !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-first .x-btn-wizard-soft-green-small-mc{padding-bottom:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-middle{border-bottom-width:0 !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-middle .x-btn-wizard-soft-green-small-mc{padding-top:7px !important;padding-bottom:7px !important}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-last .x-btn-wizard-soft-green-small-mc{padding-top:7px !important}.x-nbr .x-segmented-button-item.x-btn-wizard-soft-green-small:after{content:' ';border-style:solid;border-width:0;position:absolute}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small:after{top:0;right:0;bottom:0;left:0}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-first:after{left:0}.x-nbr .x-segmented-button-item-horizontal.x-btn-wizard-soft-green-small.x-segmented-button-last:after{right:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small:after{top:0;right:0;bottom:0;left:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-first:after{top:0}.x-nbr .x-segmented-button-item-vertical.x-btn-wizard-soft-green-small.x-segmented-button-last:after{bottom:0}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-wizard-soft-green-small:after{border-width:1px;border-color:#cbe5f1}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-wizard-soft-green-small:after{border-width:1px;border-color:#cae2ed}.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-menu-active.x-btn-wizard-soft-green-small:after,.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-wizard-soft-green-small:after{border-width:1px;border-color:#c8dce5}.x-cmd-slicer.x-btn-focus.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-green-small-focus-corners.gif), sides:url(images/btn/btn-wizard-soft-green-small-focus-sides.gif)" !important}.x-cmd-slicer.x-btn-over.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-green-small-over-corners.gif), sides:url(images/btn/btn-wizard-soft-green-small-over-sides.gif)" !important}.x-cmd-slicer.x-btn-focus.x-btn-over.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-green-small-focus-over-corners.gif), sides:url(images/btn/btn-wizard-soft-green-small-focus-over-sides.gif)" !important}.x-cmd-slicer.x-btn-pressed.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-green-small-pressed-corners.gif), sides:url(images/btn/btn-wizard-soft-green-small-pressed-sides.gif)" !important}.x-cmd-slicer.x-btn-focus.x-btn-pressed.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-green-small-focus-pressed-corners.gif), sides:url(images/btn/btn-wizard-soft-green-small-focus-pressed-sides.gif)" !important}.x-cmd-slicer.x-btn-disabled.x-btn-wizard-soft-green-small:before{display:none;content:"x-slicer:, stretch:bottom, frame:1px 1px 1px 1px, corners:url(images/btn/btn-wizard-soft-green-small-disabled-corners.gif), sides:url(images/btn/btn-wizard-soft-green-small-disabled-sides.gif)" !important}.x-btn-pressed .x-btn-icon-el-wizard-blue-small{color:#579ddb}.x-btn-pressed.x-btn-disabled.x-btn-wizard-soft-purple-small,.x-btn-pressed.x-btn-disabled .x-btn-wizard-soft-purple-small-mc{background-color:#925e8b}.x-btn-pressed .x-btn-icon-el-wizard-soft-purple-small{color:#fff}.x-btn-pressed .x-btn-icon-el-wizard-soft-green-small{color:#404040}.blank-page-container{text-align:center;color:#cacaca}.blank-page-container .fa-outer-class{margin:auto;width:150px;height:150px;border-radius:75px;background-color:#ebebeb;text-align:center}.blank-page-container .fa-outer-class .x-fa:before{line-height:150px;font-size:80px;color:#cacaca}.blank-page-container h1{margin:5px;line-height:30px;font-weight:normal}.error-page-container .error-page-inner-container{margin-top:-50px}.error-page-container .x-window-body-default{background-image:url('images/error-page-background.jpg');background-size:cover;color:#fff}.error-page-container.x-window-default{border:none}.error-page-container .error-page-top-text{font-size:150px;line-height:150px}.error-page-container .error-page-bottom-text{font-size:18px}.error-page-container .error-page-desc{line-height:24px;text-align:center;font-size:18px}.error-page-container .error-page-desc a{color:#35baf6;text-decoration:none}.error-page-container .error-page-desc a:hover{text-decoration:underline}.pages-faq-container .x-header.x-panel-header-light{border-bottom:1px solid #ddd !important;padding:15px 16px}.pages-faq-container .x-header.x-panel-header-light .x-panel-header-title-light{color:#404040;font-size:14px;font-family:"Open Sans";font-weight:Bold}.pages-faq-container .x-header .x-fa{line-height:16px}.pages-faq-container .x-header .x-tool-after-title .x-tool-img{display:none}.pages-faq-container .x-accordion-body{padding-left:34px}.pages-faq-container .round-btn{background-color:#35baf6;border-color:#35baf6 !important}.pages-faq-container .round-btn .x-btn-inner-default-toolbar-small{color:#fff}.pages-faq-container .round-btn:hover{background-color:transparent}.pages-faq-container .round-btn:hover .x-btn-inner-default-toolbar-small,.pages-faq-container .round-btn:hover .x-btn-inner-default-small{color:#35baf6}.pages-faq-container .round-btn:hover .x-btn-icon-el-default-small,.pages-faq-container .round-btn:hover .x-btn-icon-el-default-toolbar-small{color:#35baf6}.pages-faq-container .x-accordion-hd .x-title-icon{color:#404040 !important}.pages-faq-container .x-accordion-hd.x-collapsed .x-title-icon:before{content:"\f0da" !important}.faq-left-sidebar .x-fa{font-size:16px;margin-right:10px}.faq-left-sidebar .faq-tips-list{list-style:none;padding:0;margin:0}.faq-left-sidebar .faq-tips-list li{margin:15px 0}.faq-left-sidebar .faq-tips-list li:before{font-family:FontAwesome;content:"\f111";padding-right:10px}.faq-left-sidebar .faq-tips-list li.pointone:before{color:#56b650}.faq-left-sidebar .faq-tips-list li.pointtwo:before{color:#ffc037}.faq-left-sidebar .faq-tips-list li.pointthree:before{color:#e55149}.faq-left-sidebar .faq-tips-list li.pointfour:before{color:#a97fe3}.faq-left-sidebar .borderCls{border-bottom:1px solid #ddd}.FAQPanel .x-title-text-default{font-size:16px;font-weight:normal}.allRecordsCls .x-grid-cell-inner{padding:15px}.allRecordsCls .x-grid-cell-inner div{white-space:normal}.allRecordsCls .x-grid-cell-inner .resultsTitleCls{font-size:14px;color:#333}.allRecordsCls .x-grid-cell-inner .resultsUrlCls a{color:#35baf6;text-decoration:none}.allRecordsCls .x-grid-cell-inner .resultsUrlCls a:hover{text-decoration:underline}.allRecordsCls .x-grid-cell-inner .imageRowCls img{margin-right:15px}.user-grid .x-grid-td{vertical-align:middle}.user-grid .x-grid-td img{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%}.user-grid .x-grid-body{border-width:1px}.x-action-col-icon{font-size:13px !important}.widget-top-first-container{background-color:#468fd3}.widget-bottom-first-container{background-color:#fff}.postion-class{position:relative}.widget-name-text{font-family:"Open Sans";font-weight:Bold;font-size:16px;line-height:16px}.widget-tool-button .widget-follow-button,.widget-tool-button .widget-follow-button .x-frame-mc{background-color:#82c748;border-color:#82c748 !important}.widget-tool-button .widget-follow-button .x-btn-inner-default-toolbar-small,.widget-tool-button .widget-follow-button .x-frame-mc .x-btn-inner-default-toolbar-small{color:#fff}.widget-tool-button .widget-follow-button:hover,.widget-tool-button .widget-follow-button .x-frame-mc:hover{background-color:transparent}.widget-tool-button .widget-follow-button:hover .x-btn-inner-default-toolbar-small,.widget-tool-button .widget-follow-button:hover .x-btn-inner-default-small,.widget-tool-button .widget-follow-button .x-frame-mc:hover .x-btn-inner-default-toolbar-small,.widget-tool-button .widget-follow-button .x-frame-mc:hover .x-btn-inner-default-small{color:#82c748}.widget-tool-button .widget-follow-button:hover .x-btn-icon-el-default-small,.widget-tool-button .widget-follow-button:hover .x-btn-icon-el-default-toolbar-small,.widget-tool-button .widget-follow-button .x-frame-mc:hover .x-btn-icon-el-default-small,.widget-tool-button .widget-follow-button .x-frame-mc:hover .x-btn-icon-el-default-toolbar-small{color:#82c748}.widget-tool-button .widget-message-button,.widget-tool-button .widget-message-button .x-frame-mc{background-color:#35baf6;border-color:#35baf6 !important}.widget-tool-button .widget-message-button .x-btn-inner-default-toolbar-small,.widget-tool-button .widget-message-button .x-frame-mc .x-btn-inner-default-toolbar-small{color:#fff}.widget-tool-button .widget-message-button:hover,.widget-tool-button .widget-message-button .x-frame-mc:hover{background-color:transparent}.widget-tool-button .widget-message-button:hover .x-btn-inner-default-toolbar-small,.widget-tool-button .widget-message-button:hover .x-btn-inner-default-small,.widget-tool-button .widget-message-button .x-frame-mc:hover .x-btn-inner-default-toolbar-small,.widget-tool-button .widget-message-button .x-frame-mc:hover .x-btn-inner-default-small{color:#35baf6}.widget-tool-button .widget-message-button:hover .x-btn-icon-el-default-small,.widget-tool-button .widget-message-button:hover .x-btn-icon-el-default-toolbar-small,.widget-tool-button .widget-message-button .x-frame-mc:hover .x-btn-icon-el-default-small,.widget-tool-button .widget-message-button .x-frame-mc:hover .x-btn-icon-el-default-toolbar-small{color:#35baf6}.widget-tool-button .x-btn-inner-default-toolbar-small{color:#fff}.widget-top-container-first-img{position:absolute;z-index:200;margin-top:94px;border:3px solid #fff;-webkit-border-radius:36px;-moz-border-radius:36px;-ms-border-radius:36px;border-radius:36px;left:50%;margin-left:-33px}.widget-top-second-container{background-color:#8dc153}.widget-top-first-third-container{background-color:#607d8b}.widget-top-first-fourth-container{background:url('images/img2.jpg');background-size:100% auto}.widget-top-second-panel .x-fa{color:#fff}.widget-follower-toolbar{background-color:#fafafa;font-size:12px;padding:0;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd}.widget-follower-toolbar .x-form-display-field{font-size:13px;color:#333;font-family:"Open Sans"}.widget-follower-toolbar .x-form-display-field .label{color:#404040;font-size:12px}.widget-follower-toolbar .widget-follower-tool-label{border-left:1px solid #ddd;border-right:1px solid #ddd}.info-card-item{text-align:center;background:#fff;padding:45px 10px !important;font-size:24px}.info-card-item.info-card-large-wrap h2{font-size:48px;line-height:48px}.info-card-item.info-card-large-wrap span.x-fa{height:75px;width:75px;border-radius:38px;color:#fff;font-size:30px;line-height:75px;margin:15px 0}.info-card-item.info-card-large-wrap span.x-fa.fa-shopping-cart{background-color:#458fd2}.info-card-item.info-card-large-wrap span.x-fa.fa-envelope{background-color:#4caf50}.info-card-item.info-card-large-wrap span.x-fa.fa-code{background-color:#9c27b0}.info-card-item.info-card-large-wrap span.x-fa.fa-file-text{background-color:#e91e63}.info-card-item.info-card-large-wrap .infodiv{font-size:14px;line-height:16px}.info-card-item.cornflower-blue:before{background:#458fd2}.info-card-item.green:before{background:#4caf50}.info-card-item.magenta:before{background:#9c27b0}.info-card-item.pink:before{background:#e91e63}.info-card-item.orange:before{background:#ffc107}.info-card-item.blue:before{background:#673ab7}.info-card-item h2{font-size:30px;font-weight:normal;margin:0;margin:0;line-height:32px}.info-card-item div{line-height:24px}.info-card-item span{font-size:24px;line-height:24px}.info-card-item:before{width:100%;position:absolute;height:3px;content:"";top:0;left:0}
/*ICONOS DE MENU*/

/*ICONOS SUCURSAL*/
.icon-empresas:before {
    content: url(../img/iconos/menu/empresas.png) !important;
}

/*Estilos de paneles de formularios*/
.panelFormulario .x-panel-body-light{
    border: 0px;
    padding: 10px 10px 5px 10px;
    border-radius: 0px !important;
}
.panelFormulario .x-panel-body-default{
    border: 0px;
    padding: 0px;
}
.formLogin::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    background-color: white !important;
}

.x-layout-split-left{
    /*position: fixed !important;*/
    z-index: 1000 !important;
    width: 20px !important;
    height: 50px !important;
}

.x-layout-split-right{
    /*position: fixed !important;*/
    z-index: 1000 !important;
    width: 20px !important;
    height: 50px !important;
}

.barra{
    color:#3e9ad4;
}   

.panelCrearEditarAdminVehi .x-box-layout-ct{
    border-radius: 15px 15px 0px 0px;
}
.panelCrearEditar .x-panel-bodyWrap{
    border-radius: 20px 20px 0px 0px;
}

.x-toolbar-footer{
    border-radius: 0px !important;
}

.panelFormulario .x-panel-bodyWrap{
    border-radius: 0px;
}
.panelesForm .x-panel-bodyWrap{
    border-radius: 0px;
}

/*Estilos en panel central para MODULO GARAJE*/
.panelCrearEditarVehiGaraje{
    border-radius: 25px;
}
.garajePlaca .x-form-item-label{
    font-size: 150%;
    font-weight:bold;
}

.garajePlaca .x-form-display-field{
    font-size: 150%;
}

/*Estilos de paneles de formularios*/
.panelFormulario .x-panel-body-light{
    border: 0px;
    padding: 10px 10px 5px 10px;
    border-radius: 0px !important;
}
.panelFormulario .x-panel-body-default{
    border: 0px;
    padding: 0px;
}
.formLogin::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    background-color: white !important;
}

.x-layout-split-left{
    /*position: fixed !important;*/
    z-index: 1000 !important;
    width: 20px !important;
    height: 50px !important;
}

.x-layout-split-right{
    /*position: fixed !important;*/
    z-index: 1000 !important;
    width: 20px !important;
    height: 50px !important;
}

.barra{
    color:#3e9ad4;
}   

.panelCrearEditarAdminVehi .x-box-layout-ct{
    border-radius: 15px 15px 0px 0px;
}
.panelCrearEditar .x-panel-bodyWrap{
    border-radius: 20px 20px 0px 0px;
}

.x-toolbar-footer{
    border-radius: 0px !important;
}

.panelFormulario .x-panel-bodyWrap{
    border-radius: 0px;
}
.panelesForm .x-panel-bodyWrap{
    border-radius: 0px;
}



.panelesForm .x-box-layout-ct{
    border-radius: 0px !important;
}

.panelesForm .x-panel-body{
    border: 0px;
}

#gridLeerVehiculo .x-grid-cell{
    vertical-align: middle;
}

.gridAuxDisable{
    color: gray !important;
}

.gridAuxDelete{
    color: red !important;
}

.gridAuxCheck{
    color: green !important;
}

div.moneyIcon{
    font-size: 17px !important;
}

.gridAuxVehiAdmin{
    border: 2px solid;
    margin: 3px;
}

.newRowGrid .x-grid-cell{
    background-color: #C8FBC2 !important;
}
.deleteRowGrid .x-grid-cell{
    background-color: #FF9999 !important;
}


.sencha-logo {
    background-color: #074975;
    height: 65px;
    font-size: 16px;
    color: #fff;
    margin-left: 17px;
}
.x-panel-header {
    background: #074975;
    border-radius: 9px 9px 0px 0px;
    height: 30px;
}
.x-tab.x-tab-active.x-tab-default .x-tab-inner-default{
    color: #074975;
    font-size: 14px;
}
.x-treelist-item-expander {
    color: #074975 !important;
}
/*PERSONALIZAR TODOS LOS BOTONES POR DEFECTO*/
.x-btn.x-btn-menu-active.x-btn-default-toolbar-small, .x-btn.x-btn-pressed.x-btn-default-toolbar-small {
    background-image: none !important;
    background-color: #074975 !important;
}
.x-box-inner .x-btn-button-default-small{
    background-color: #074975!important;
    text-decoration:none!important;
}
.x-btn-default-toolbar-small{
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    -ms-border-radius: 3px!important;
    -o-border-radius: 3px!important;
    border-radius: 3px!important;
    padding: 2px 2px 2px 2px!important;
    border-width: 1px!important;
    border-style: solid!important;
    background-color: #074975!important;
    text-decoration:none!important;
}
.x-btn-default-toolbar-small{
    border-color: #074975!important;
    text-decoration:none!important;
}
.x-btn-over.x-btn-default-toolbar-small{
    border-color:#074975!important;
    background-image:none!important;
    background-color:#074975!important;
    background-image:-webkit-gradient(linear, top, bottom, color-stop(0%, #074975), color-stop(0%, #074975))!important;
    background-image:-webkit-linear-gradient(top, #074975, #074975)!important;
    background-image:-moz-linear-gradient(top, #074975, #074975)!important;
    background-image:-o-linear-gradient(top, #074975, #074975)!important;
    background-image:-ms-linear-gradient(top, #074975, #074975)!important;
    background-image:linear-gradient(top,#074975, #074975)!important;
    text-decoration:none!important;
    opacity: 0.9!important;
}
.x-btn-over span{
    background-color:#074975!important;
    text-decoration:none!important;
    opacity: 0.9!important;
}
.x-btn-focus span{
    background-color:#074975!important;
    text-decoration:none!important;
}
.x-btn-icon-el-default-toolbar-small{
    color: white!important;
}
.x-btn-inner-default-toolbar-small{
    color: white!important;
}
.x-btn-inner-default-toolbar-small:hover{
    color: white!important;
    opacity: 0.9!important;
}
.x-box-inner .x-btn-button-default-small{
    background-color: #074975;
}
/*Estilo de Texto dentro de botones*/
.x-btn-inner-default-small{
    color: white !important;
    font-weight: bold !important;
    font-family: Helvetica !important;
    font-size: 14px !important;
}
.x-btn-icon-el-default-small{
    color: white !important;
    margin: 4px;
}
.x-btn-default-small{
    padding: 0px !important;
    border-radius: 5px;
}
.btnsRastreo .x-btn-button-default-small{
    background-color: #074975 !important;
    color: white;
}
.btnsRastreo .x-btn-icon-el-default-small{
    color: white !important;
}
.btnsRastreoBlack .x-btn-button-default-small{
    background-color: #074975 !important;
}
.btnsRastreoBlack .x-btn-icon-el-default-small{
    color: white!important;
}
.x-grid .x-btn-default-toolbar-small{
    background-color: #074975 !important;
}

.x-btn-icon-el-default-toolbar-small{
    background-color: #074975;
}
.x-btn-over span{
    background-color:#074975!important;
    opacity: 0.9!important;
}
.x-btn-focus span{
    background-color:#074975!important;
}
/*ESTILOS DE BOTONES PAGINACIÓN*/
.x-btn-icon-el-default-toolbar-small.x-tbar-page-next{
    color: white!important;
}
.x-btn-icon-el-default-toolbar-small.x-tbar-page-last{
    color: white!important;
}
.x-btn-icon-el-default-toolbar-small.x-tbar-page-first{
    color: white!important;
}
.x-btn-icon-el-default-toolbar-small.x-tbar-page-prev{
    color: white!important;
}
.x-btn-icon-el-default-toolbar-small.x-tbar-loading{
    color: white!important;
}
/*FIN ESTILOS DE BOTONES PAGINACIÓN*/
/*ESTILOS DE BOTONES EN MÓDULO ESCRITORIO*/
.btnTimes .x-btn-icon-el-default-toolbar-small{
    background-color: #074975;
}
.btnTimes .x-btn-over span{
    background-color: #074975 !important;
    color: white!important;
    opacity: 0.9!important;
}
.btnTimes .x-btn-focus span{
    background-color: #074975 !important;
    color: white!important;
}
/*FIN ESTILOS DE BOTONES EN MÓDULO ESCRITORIO*/
/*FIN DE PERSONALIZAR SISTEMA*/
.btnMap{
    position: absolute;
    right: 10px;
    z-index: 1;
    width: 31px;
    height: 31px;
    display: block;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    top: 210px;
    border: 1px;
    border-style: inset;
    border-radius: 4px;
}


